/* admin/book/list.jsp */

[readonly] { background-color: transparent !important; }
button { outline:none !important; }

.tblbookcount, .tblebookcount {
	margin-top: 20px;
	margin-bottom: 100px;
}

.tblbookcount th, .tblbookcount td, .tblebookcount th, .tblebookcount td {
	text-align: center;
}

.tblbookcount .label, .tblebookcount .label {
	font-size: 1em;
	opacity: 0.7;
}

.tblbooklist, .tblebooklist {
	margin-top: 20px;
}

.tblbooklist th, .tblbooklist td, .tblebooklist th, .tblebooklist td {
	text-align: center;
}

.tblbooklist th:nth-child(1) {
	width: 240px;
}

.tblbooklist th:nth-child(2) {
	width: 210px;
}

.tblbooklist th:nth-child(3) {
	width: 160px;
}

.tblbooklist th:nth-child(4) {
	width: 50px;
}

.tblebooklist th:nth-child(1) {
	width: 250px;
}

.tblebooklist th:nth-child(2) {
	width: 220px;
}

.tblebooklist th:nth-child(3) {
	width: 170px;
}

.tblbooklist td input[type=button] {
	margin-right: 5px;
}

input[type=button]:focus {
	outline: none !important;
}

.listheader {
	margin-top: 50px;
}

.listheader h5 {
	margin-top: 20px;
	display: inline-block;
}

.listheader input[type=button] {
	width: 130px;
	float: right;
	margin-right: 30px;
}

/* admin/book/add.jsp */
#title { width: 300px; }

#publisher { width: 300px; }

#btnselcategory, #btnsearchauthor { margin-right: 10px;	}

.category { text-align: center; }

#authorname { width: 300px; }

#pubdate { width: 200px; }

#isbn { width: 200px; }

#price { width: 100px; text-align: right; }

#amount { width: 80px; text-align: center; }

#page { width: 80px; text-align: center; }

#copy { width: 400px; }

/* 이미지, E-Book 파일명 */
#imagename, #ebookname {
	display: inline-block;
	width: 300px;
	margin-left: 5px;
	margin-right: 10px;
}

/* 하단 버튼 집합 div */
.actionbtns {
	margin: 50px 0;
	text-align: right;
}

/* 하단 버튼 */
.actionbtns input {
	width: 150px;
	height: 60px;
	font-size: 1.4em;
	margin-right: 50px;
}

/* 취소, 목록 버튼 */
#btncancel, #btnlist { background-color: lightgray; }



/* modal */

/* modal > 카테고리 선택 */
.tblcategory th {
	text-align: center;
}

/* modal > 작가명 검색창 */
#searchauthor { width: 200px; display: inline-block; }

