/* admin/book/list.jsp */

.count {
	width: 220px;
	height: 50px;
	text-align: center;
	padding-top: 10px;
	border-radius: 5px;
	display: inline-block;
	margin: 10px 30px;
	font-size: 1.2em;
}

.count > a {
	font-size: 1em;
	font-weight: bold;
}

.count > a:hover {
    color:#F4A259;
}

table {
	margin-top: 20px;
}

table th, table td {
	text-align: center;
}

table th:nth-child(1) {
	width: 250px;
}

table th:nth-child(2) {
	width: 220px;
}

table th:nth-child(3) {
	width: 170px;
}

table td input[type=button] {
	margin-right: 10px;
}

input[type=button]:focus {
	outline: none !important;
}

.listheader {
	margin-top: 50px;
}

.listheader h5 {
	margin-top: 20px;
	display: inline-block;
}

.listheader input[type=button] {
	width: 120px;
	float: right;
	margin-right: 30px;
}

/* add.jsp */
#title { width: 300px; }

#publisher { width: 300px; }

#btnselcategory, #btnsearchauthor { margin-right: 10px;	}

.category { text-align: center; }

#authorname { width: 300px; }

#pubdate { width: 200px; }

#isbn { width: 200px; }

#price { width: 150px; }

#amount { width: 70px; text-align: center; }

#page { width: 90px; text-align: center; }

#copy { width: 400px; }

#imagename {
	display: inline-block;
	width: 300px;
	margin-left: 5px;
	margin-right: 10px;
}

/* 추가, 취소 버튼 집합 */
.actionbtns {
	margin: 50px 0;
	text-align: right;
}

#btnadd, #btncancel {
	width: 150px;
	height: 60px;
	font-size: 1.5em;
}

#btnadd { margin-right: 50px; }

#btncancel { background-color: lightgray; }

#searchauthor { width: 200px; display: inline-block; }


