/* inlist.jsp > css */

/* 이미지 셀 */
table td:nth-child(1) {
	height: 200px;
}

/* 텍스트 셀 */
table td:nth-child(2) {
	width: 500px;
	height: 200px;
}

/* 텍스트 margin */
table td:nth-child(2) div {
	margin: 5px 15px;
}

/* 수량 및 버튼 셀 */
table td:nth-child(3) {
	width: 200px;
	height: 200px;
	text-align: right;
}

/* 이미지 */
table td .image {
	height: 200px;
}

/* 텍스트 > 제목 */
table td .title {
	font-size: 2em;
}

table td .info {
	
}

table td .subinfo {

}

/* 도서 소개 */
table td .intro {
	height: 45px;
	overflow: hidden;
}

table td .priceinfo {

}

/* 텍스트 > 정가 + 가격 */
table td .priceinfo .price {
	font-size: 0.9em;
}

/* 텍스트 > 판매가 */
table td .priceinfo .saleprice {
	font-size: 1.3em;
	margin-left: 50px;
}

/* 텍스트 > 판매가격 */
table td .priceinfo .saleprice strong {
	color: red;
	font-size: 1.5em;
}

/* 수량 > + , - 버튼 */
table td .amount input[type=button] {
	outline: none !important;
}

/* 수량 > 텍스트박스 */
table td .amount input[type=text] {
	width: 50px;
	height: 30px;
	text-align: right;
}

/* 버튼 */
table td .btns button {
	display: inline-block;
	width: 57%;
	margin-top: 7px;
	outline:none !important;
}

