.statebox{
	width: 1000px;
	margin: 0 auto;
	background-color: RGBA(244,162,89,.2);
	height: 180px;
	padding: 30px 50px;
	margin-bottom: 100px;
	position: relative;
}

.statebox>div{
	float: left;
}

.statebox >div:nth-child(2){
	margin-top: 30px; 
}

.img-orderstate{
	width: 100px;
	height: 100px;
	/* border: 1px solid black;  */
	margin-top: 10px;
	margin-right: 40px;
}

.orderstep{
	position: absolute;
	right: 40px;
	bottom: 28px;
}

.orderstep .on div{
	color: #F4A259;
	font-weight: bold;
}

.orderstep>div{
	float: left;
	margin: 10px;
}

.orderstep>div div:first-child{
	margin-right: 20px;
	font-size: 20px;
}

.orderstep> div div:last-child{
	font-size: 28px;
}

.tbl-pay th{
	text-align: center;
	border-right: 1px solid #DDD;
	width: 200px;
}

.tbl-pay th:nth-child(3){
	width: 250px;
}

.tbl-pay td{
	text-align: right;
	border-bottom: 1px solid #DDD;
	border-right: 1px solid #DDD;
}

.tbl-pay td:nth-child(3),.tbl-pay td:nth-child(3) span{
	color: red;
}

.tbl-pay th:last-child, .tbl-pay td:last-child {
	border-right: 0;	
}

.tbl-pay td span{
	float: left;
}
