.orderlistbox{
	margin: 0 auto;
	width:1000px;
	margin-bottom: 300px;
}

.img-orderstate{
	background-image: url(/bookjuck/image/clipboard1.png);	
}

.orderstep> div:last-child div{
	color: #F4A259;
	font-weight: bold;
}