/*   취소/교환/환불 신청 폼   */
#btnapply {
    margin-top: -20px;
    margin-left: 370px;
}

.application-form table {
    margin-top: 30px;
}


/*   취소/교환/환불 안내사항   */
.refund-info {
    margin-top: 150px;
}

.refund-info li {
    list-style: square;
}